@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkCaret {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #8ea3e3;
  }
}

/* .typing 클래스 */
.typing {
  display: inline-block; /* 글자 길이만큼 영역 잡기 */
  overflow: hidden; /* 넘치는 글자 잘라내기 */
  white-space: nowrap; /* 줄바꿈 방지 */
  border-right: 0.15em solid #8ea3e3; /* 커서 모양의 우측 테두리 */
  animation:
    typing 2s steps(10, end) infinite,
    blinkCaret 0.75s step-end infinite;
}
